footer {
    // background-image: url(https://firebasestorage.googleapis.com/v0/b/dung-k05.appspot.com/o/images%2F6188530.jpg?alt=media&token=b6ddd2d8-6bf9-4b68-9ca0-b6efed7ae63d);
    // background-size: 100% 100%;
    background: var(--gradientColor);
    i {
        color:white;
    }
    .text-reset {
        color: white !important;
    }
    p {
        color: white;
    }
    h6 {
        color: white;
    }
    span {
        color: white;
    }
   
}