:root {
  --gradientColor: linear-gradient(to right,
      hsl(187, 85%, 43%),
      hsl(199, 100%, 33%));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f3f3f3 !important;
}

img {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .table-responsive {
    overflow-x: auto;
  }

  .table {
    width: 100%;
    margin-bottom: 0;
    border-collapse: collapse;
    overflow: hidden;
  }

  .table th,
  .table td {
    white-space: nowrap;
  }
}

.password {
  position: relative !important;

  .icon-eyes {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px; /* Adjust the distance from the right edge */
    z-index: 10;
  }
}